/vendor
/node_modules
/public/build
/public/hot
/public/storage
/public/uploads/*
!/public/uploads/.gitkeep

/storage/*.key
/storage/pail
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*
!/storage/logs/.gitkeep
!/storage/framework/cache/data/.gitkeep
!/storage/framework/sessions/.gitkeep
!/storage/framework/testing/.gitkeep
!/storage/framework/views/.gitkeep

/.idea
/.vscode
/.history
*.log
.DS_Store
.env
.env.backup
.env.production
auth.json
Homestead.json
Homestead.yaml
Thumbs.db
.phpactor.json
.phpunit.result.cache
/.fleet
/.nova
/.phpunit.cache
/.zed
